/* Denna fil skall innehålla din CSS kod */
* {
    margin:0;
}

body {
    background-image: url("../img/Mat.background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
    'he he he he he'
    'ar as as as as'
    'fo fo fo fo fo'
    ;
}
.header {
    font-family: 'Andika New Basic', sans-serif;
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    grid-area: ar;
    color: rgb(255, 255, 255);
    width: 50vw;
}

.footer {
    grid-area: fo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Andika New Basic', sans-serif;
}

.pic{
    display: block;
    width: 1000px;
}

img {
    padding: 5%;
    
}
 
#div1 {
    flex: 1;
    grid-area: d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div2 {
    flex: 1;
    grid-area: d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div3 {
    flex: 2;
    grid-area: d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div4 {
    flex: 1;
    grid-area: d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div5 {
    flex: 1;
    grid-area: d5;
    
}

.headeritems{
    padding: 10px;
}

.headeritems a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Logo {
    color: rgb(255, 255, 255);
}

#div7{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

#div6 {
    flex:1;
    display: flex;
    justify-content: flex-start;
}

.footeritems a{
    text-decoration: none;
    color: rgb(255, 255, 255);
} 

.space {
    grid-area: se;
}

#logo {
    width: 100px;
    height: auto;
}

.Bildstats img{
    height: 350px;
    width: 500px;
}

.Öppettider {
    color: ghostwhite;
    width: 50vw;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Öppettider h1 {
    margin-bottom: 40px;
}

.Öppettider h3 {
    margin-top: 0px;

}

.Öppettider h2 {
    margin-top: 40px;
    margin-bottom: 50px;
}

.Lokalisation {
    color: ghostwhite;
    font-size: 10px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#Insta {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
